html {
	background-color: #00539f;
}

body {
	font-size: 10px;
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0 20px 20px 20px;
	width: 600px;
	border: 5px solid black;
	background-color: #ff9500;
}

h1 {
	margin: 0 auto;
	padding: 20px 0;
	color: #00539f;
	text-shadow: 3px 3px 5px gray;
	align-content: center;
}

p, li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
 img {
 	display: block;
 	margin: 0 auto;
 }
button {
	margin: 10px 10px 10px 10px;
}